body{
    /*background:rgb(224, 89, 89);*/
    margin:0%;
}
.topo{
    background:#B2E7E8;
    height: 200px;
    padding: 30px 0;
    color:black;
}
.topo ul{
    display: flex;
    width:100%;
    justify-content: space-around;
    background:#304D63;
    margin:0;
}
.topo li{
    list-style: none;
}
.topo li a{
    text-decoration: none;
    color:white;
    padding: 10px;
   display: flex;
}
.topo li a:hover{
    text-decoration: underline;
}
.corpo{
    background:#8FB9AA;
    text-align: center;
    min-height: 300px;
}
.rodape{
    background:#F2D096;
    height: 150px;
    padding: 30px;
    color:black;
}
